{% extends 'base_profile.html' %}
{% load i18n %}
{% load static %}


{% block title%}{% trans "User AQI Report" %}{% endblock title %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" id="latitude" name="latitude" required>
    <input type="hidden" id="longitude" name="longitude" required>
    <div id="map" style="height: 600px; width: 600px;"></div>
    <script src="{% static 'js/cdn.jsdelivr.net_npm_leaflet@1.7.1_dist_leaflet.js' %}"></script>
    <script src="{% static 'js/user_report_map.js' %}"></script>
    <button type="submit">{% trans "Submit" %}</button>
</form>
{% endblock %}
