{% extends 'base_profile.html' %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "Profile" %} {% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header justify-content-center">
                    <h3 class="font-weight-light my-2 text-center">{% trans "Profile" %}</h3>
                </div>
                <div class="card-body">
                    <!-- User Information -->
                    <div class="form-group" style="display: flex; justify-content: center;">
                        <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }}" style="cursor: pointer;"/>
                    </div>
                    <div class="form-group" style="display: flex; justify-content: center;">
                        <a>{{ user.profile.bio }}</a>
                    </div>
                    <div class="form-group">
                        <label for="name">{% trans "Name:" %}</label>
                        <input type="name" class="form-control" id="name" name="name" value={{user.username}} readonly>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" value={{user.email}} readonly>
                    </div>
                    <!-- Edit Profile Button -->
                    <a href= "{% url 'edit-profile' %}" class="btn btn-primary">{% trans "Edit Profile" %}</a>
                    <!-- Create New Report Button-->
                    <!--replace "#" with "% url 'report_create.html' %"-->
                    <a href="{% url 'report_air_quality' %}" class="btn btn-primary">{% trans "Create New Report" %}</a>
                    <!-- Back To Home Button-->
                    <a href="{% url 'homepage' %}" class="btn btn-primary">{% trans "Home" %}</a>
                </div>
            </div>
            
            <!-- Report History -->
            <div class="mt-4">
                <h2>Report History</h2>
                <div class="form-group">
                    <a href="{% url 'reports_history' %}" class="btn btn-primary">{% trans "Full history" %}</a>
                </div>
                <table class="list-group-item">
                    <thead>
                        <tr>
                            <th>{% trans "Timestamp" %}</th>
                            <th>{% trans "Location" %}</th>
                            <th>{% trans "AQI" %}</th>
                            <th>{% trans "Level" %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in air_quality_data %}
                            <tr>
                                <td>{{ entry.timestamp }}</td>
                                <td>{{ entry.city }}</td>
                                <td>{{ entry.air_quality_index }}</td>
                                <td>{{ entry.pol_level }}</td>
                                <td>
                                <!--replace "#" with "% url 'view_report' report_id=1 %"-->
                                <a href="{#}" class="btn btn-info btn-sm">{% trans "View" %}</a>
                                <!--replace "#" with "% url 'edit_report' report_id=1 %"-->
                                <a href="{#}" class="btn btn-warning btn-sm">{% trans "Edit" %}</a>
                                <!--replace "#" with "% url 'delete_report' report_id=1 %"-->
                                <a href="{#}" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
