{% extends 'base_login_register.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container">
    <h2>{% trans "Registration" %}</h2>
    <form action="." method="POST" novalidate>
        {% csrf_token %}
        <div class="data">
            {{form.username}}
        </div>
        <div class="data">
            {{form.email}}
        </div>
        <div class="data">
            {{form.password1}}
        </div>
        <div class="data">
            {{form.password2}}
        </div>
        <div class="btn">
            <div class="inner"></div>
            <button type="submit">{% trans "Sign up" %}</button>
        </div>
        <div class="signup-link">
            {% trans "Already have an account? "%} <a href="{% url 'login' %}">{% trans "Login now" %}</a>
        </div>
    </form>
</div>
{% endblock %}
