{% load i18n %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="{% static 'css/cdn.jsdelivr.net_npm_bootstrap@4.5.3_dist_css_bootstrap.min.css' %}"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
    crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_homepage.css' %}">
    <title>{% block title %}Test{% endblock %}</title>
    <!-- Add your CSS stylesheets here if needed -->
</head>
<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% include 'footer.html' %}
</body> <!-- Close the body tag -->
</html>
