{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "City Details" %}{% endblock %}

{% block content %}
    <!-- City-specific content goes here -->

    <!-- City Information -->
    <div class="container-1">
        <div>
            <h1>{% trans "City Name:" %} {{ air_quality_data.city}}</h1>
            <p><strong>{% trans "Location:" %}</strong> {{ air_quality_data.city}}</p>
            <p><strong>{% trans "Air Quality Index (AQI):" %}</strong> {{ air_quality_data.air_quality_index}}</p>
            <p><strong>{% trans "Timestamp:" %}</strong> {{ air_quality_data.timestamp}}</p>
            <p><strong>{% trans "Main Pollutant:" %}</strong> {{ air_quality_data.main_pollutant}}</p>
            <p><strong>{% trans "Pollution Level:" %}</strong> {{ air_quality_data.pol_level}}</p>
        </div>
        <div>
            <h1>{% trans "Pollutant Data" %}</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans "Pollutant" %}</th>
                        <th>{% trans "Value" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PM2.5</td>
                        <td>{{ pollutants.PM2_5}}</td>
                    </tr>
                    <tr>
                        <td>PM10</td>
                        <td>{{ pollutants.PM10 }}</td>
                    </tr>
                    <tr>
                        <td>SO2</td>
                        <td>{{ pollutants.SO2 }}</td>
                    </tr>
                    <tr>
                        <td>O3</td>
                        <td>{{ pollutants.O3 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a href="{% url 'report_air_quality' %}" class="signup">{% trans "Provide Information for City" %}</a></button>
        </div>
    </div>
{% endblock %}
