{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GreenAir</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <h2 class="logo"><a href="#">{% trans "GreenAir" %}</a></h2>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" id="hamburger-btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </label>
        <ul class="links">
          <li><a href="{% url 'login' %}" >{% trans "Home" %}</a></li>
          <li><a href="#">{% trans "About Us" %}</a></li>
          <li><a href="#">{% trans "Services" %}</a></li>
          <li><a href="#">{% trans "Portfolio" %}</a></li>
          <li><a href="#">{% trans "Contact Us" %}</a></li>
        </ul>
        <div class="buttons">
          <a href="{% url 'login' %}" class="signin">{% trans "Sign In" %}</a>
          <a href="{% url 'register' %}" class="signup">{% trans "Sign Up" %}</a>
        </div>
      </nav>
    </header>
    <section class="hero-section">
      <div class="hero">
        <h2>{% trans "AIR QUALITY MANAGEMENT" %}</h2>
        <p>
          {% trans "Join us in the mission to improve air quality and unlock a future of healthier living. Learn how to manage air quality and make a difference today!" %}<br>
        </p>
        <div class="buttons">
          <a href="{% url 'login' %}" class="join">{% trans "Join Now" %}</a>
          <a href="#" class="learn">{% trans "Learn More" %}</a>
        </div>
      </div>
      <div class="img">
        <img src="{% static 'img/index.png' %}" alt="index-image" />
    </div>
    </section>
  </body>
</html>
